@{
    ViewData["Title"] = "Políticas de privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>
    Política de Privacidad de FastFood

    Fecha de entrada en vigencia: 06/06/24
    <br />

    FastFood se compromete a proteger tu privacidad y asegurar la confidencialidad de la información personal que nos proporciones al utilizar nuestros servicios. Esta Política de Privacidad describe cómo recopilamos, utilizamos, divulgamos y protegemos tu información personal. Al utilizar nuestro sitio web o aplicaciones móviles, aceptas los términos de esta Política de Privacidad.

    1. Información recopilada

    1.1. Información personal: Podemos recopilar información personal que nos proporcionas de forma voluntaria al realizar pedidos, registrarte en nuestra plataforma, participar en promociones o utilizar nuestros servicios. Esta información puede incluir tu nombre, dirección de correo electrónico, número de teléfono, dirección de envío y detalles de pago.

    1.2. Información de uso: Recopilamos información sobre cómo utilizas nuestro sitio web o aplicaciones móviles, incluyendo tu dirección IP, tipo de navegador, páginas visitadas, duración de la visita y otras estadísticas relacionadas con el uso de nuestros servicios.
    <br />
    2. Uso de la información

    2.1. Utilización de información personal: Utilizamos la información personal recopilada para procesar tus pedidos, brindarte un servicio eficiente, personalizar tu experiencia y mejorar nuestros productos y servicios. También podemos utilizar tu información personal para enviarte comunicaciones promocionales relacionadas con FastFood, siempre y cuando hayas otorgado tu consentimiento previo.

    2.2. Información de uso: Utilizamos la información de uso para analizar tendencias, administrar el sitio web, mejorar la experiencia del usuario y recopilar información demográfica agregada.
    <br />
    3. Divulgación de información

    3.1. Proveedores de servicios: Podemos compartir tu información personal con proveedores de servicios de confianza que nos asisten en la prestación de nuestros servicios, como procesadores de pagos, servicios de entrega y análisis de datos. Estos proveedores de servicios solo podrán utilizar tu información personal en la medida en que sea necesario para prestar los servicios acordados.

    3.2. Cumplimiento legal: Podemos divulgar tu información personal si así lo exige la ley, los reglamentos o una orden judicial, o si creemos de buena fe que dicha divulgación es necesaria para proteger nuestros derechos, propiedad o seguridad, o la de otros.
    <br />
    4. Seguridad de la información

    FastFood se compromete a proteger la seguridad de tu información personal. Hemos implementado medidas de seguridad técnicas, administrativas y físicas adecuadas para proteger tu información contra el acceso no autorizado, la divulgación o la destrucción.
    <br />
    5. Tus derechos

    Tienes derecho a acceder, corregir, modificar o eliminar tu información personal en cualquier momento. Puedes ejercer tus derechos poniéndote en contacto con nosotros a través de los canales indicados al final de esta Política de Privacidad.
    <br />
    6. Cambios en la Política de Privacidad

    Podemos actualizar esta Política de Privacidad ocasionalmente para reflejar cambios en nuestras prácticas de privacidad. Te recomendamos revisar periódicamente esta política para estar informado sobre cómo protegemos tu información.
    <br />
    7. Contacto

    Si tienes alguna pregunta o inquietud relacionada con esta Política de Privacidad o la forma en que tratamos tu información personal, no dudes en ponerte en contacto con nosotros a través de DevoloperTeam@outlook.es.
</p>
